<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
<body> 
      
<section class="text-center">
  <div class="container">                        
    <div class="">
        <li id="nav_menu-2" class="nav-menu">
            <div class="menu-footer">
              <ul id="menu-footer-menu-top" class="menu">
                <li id="menu-item-0001" class="menu-item"><a href="/sermons/">Sermons</a></li>
                <li id="menu-item-0002" class="menu-item"><a href="/about/">About</a></li>
                <li id="menu-item-0003" class="menu-item"><a href="/locations/">Locations</a></li>
                <li id="menu-item-0004" class="menu-item"><a href="/get-involved/">Get Involved</a></li>
                <li id="menu-item-0005" class="menu-item"><a href="/outreach/">Outreach</a></li>
                <li id="menu-item-0006" class="menu-item"><a href="/store">Store</a></li>
                <li id="menu-item-0007" class="menu-item"><a href="/giving/">Giving</a></li>
              </ul>
            </div>
        </li>
    </div>
  </div>
 </section>

<% block content %> <% endblock %>
  
<section class="section__footer text-center">
    <div class="container">
        <p>{{ siteInformation.address }}  |  <a href="tel:+00000000800" class="footer--phonenumber">{{ siteInformation.phone }}</a></p>
        <p><small>{{ siteInformation.copyright }}  |  <a href="/legal">{{ siteInformation.copyright }}</a></small></p>                        
    </div>
</section>
