{% extends "_church_base.html" %}

{% set entries = craft.entries({
    section: 'sermons',
    with: [
        'entriesField.assetsField'
    ]
}) %}

{% for sermon in sermons %}
{% set image = relatedEntry.assetsField[0] ?? null %}
  <div class="col-sm-6">
      <a href="{{ sermon.url }}">
          <div class="sermon__card sermon sermon__has-series">
              {% if image %}
                <img class="sermon__post-thumbnail img-responsive lazy" 
                     src="/uploads/2017/02/tpot_v3.jpg" 
                     data-original="/uploads/2017/02/tpot_v3.jpg" 
                     width="960" height="540" 
                     style="display: block;">            
              {% endif %}
              <div class="sermon__info">
                  {% if image %}
                    <img width="150" 
                         height="150" 
                         src="{{ image.url }}" 
                         class="" 
                         alt="{{ image.title }}">
                  {% endif %}
                  <div class="sermon__info-text">                             
                      <h3 class="sermon__title">{{ sermon.title }}</h3>
                      <p class="series__title">{{ series.title }}</p>
                  </div>
              </div>
          </div>
      </a>
  </div>
{% endfor %}
