<section class="section__footer text-center">
    <div class="container">
        <ul>
            <li><a href="#!">Sermons</a></li>
            <li><a href="#!">About</a></li>
            <li><a href="#!">Locations</a></li>
            <li><a href="#!">Get Involved</a></li>
            <li><a href="#!">Store</a></li>
            <li><a href="#!">Giving</a></li>
        </ul>
    </div>
</section>
<section class="section__footer text-center">
<div class="row">
    <div class="col-xs-12">
        <ul class="ec-footer-icons list-inline text-center">
            <li>
                <a href="http://facebook.com/churchsite"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="http://twitter.com/churchsite"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/churchsite"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.pinterest.com/churchsite/"><i class="fa fa-pinterest"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/user/churchsite"><i class="fa fa-youtube"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="row">



</div>
</section>
<section class="section__footer text-center">
    <div class="container">
        <p>{{ siteInformation.address }}  |  <a href="tel:+00000000800" class="footer--phonenumber">{{ siteInformation.phone }}</a></p>
        <p><small>{{ siteInformation.copyright }}  |  <a href="/legal">{{ siteInformation.copyright }}</a></small></p>                        
    </div>
</section>
