<div class="header-content text-center">                    
  <div class="menu-header-menu-container">
    <ul id="menu-header-menu" class="list-inline ec-main-nav">
      <li id="menu-item-001" class="menu-item"><a href="#!" class="local">Sermons</a></li>
      <li id="menu-item-002" class="menu-item"><a href="#!" class="local">About</a></li>
      <li id="menu-item-003" class="menu-item"><a href="#!" class="local">Locations</a></li>
      <li id="menu-item-004" class="menu-item"><a href="#!" class="local">Get Involved</a></li>
      <li id="menu-item-005" class="menu-item"><a href="#!" class="local">Outreach</a></li>
      <li id="menu-item-006" class="menu-item"><a href="#!" class="local">Giving</a></li>
    </ul>
  </div>                    
</div>
